<div class ='home'>
  <div class='content'>

    <div class="container signup span8">
      <div class="greeting">
        <h1 id="logo">Photoline</h1>
        <p>
          Access all your photos in one place and follow your favorite photographers.<br>
          Photoline is the place to discover great photograpy!
        </p>
        <%= render partial: "home", formats: [:js] %>
        <%= render "shared/user_navigation" %>
     </div>
   </div>
  </div>
</div>
