<body class="home">
  <div class='content'>

    <div class="container signup span8">
      <div class="greeting">
        <h1>Photoline</h1>
        <p>
          Access all your photos in one place and follow your favorite photographers.<br>
          Photline is the place to discover great photograpy!
        </p>
        <p> <%= link_to image_tag("signInWithTwitter.png"),"/auth/twitter" %></p>
     </div>
   </div>

  </div>
</body>