<div class ='home'>
  <div class='content'>

    <div class="container signup span8">
      <div class="greeting">
        <h1 id="logo">Photoline</h1>
        <p>
          Create custom feeds from your favorite photographers and keyword searches from 500px and flickr.<br>
          Photoline lets you view all your photos in one place, is totally free and has no ads!
        </p>
        <br>
        <br>
        <br>
        <%= render "home.js" %>
      <%= render "shared/user_navigation" %>
     </div>
   </div>
  </div>
</div>
