<div class="content">

  <%= @feed.name %>

  <% if @feed_items.any? %>

    <% @feed_items.each do |item| %>
      <p><%= item %></p>
    <% end %>

  <% else %>
    'Oops! There are no photos in your feed yet!'
  <% end %>
</div>
