<div class='content'>

  <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Create a New Feed</a>

    <%= image_tag('trees.JPG', id:'front-image') %>

  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Create Your New Feed</h3>
    </div>
    <div class="modal-body">
      <%= render template: 'feeds/new' %>
    </div>
  </div>
</div>
