.form {
  padding: 30px;
  width: 240px;
  border: 8px solid #aaa;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;

  #feed_name { margin-bottom: 45px; }
  #create-feed { margin-left: 75px; }
}
