.form {
  position: absolute;
  margin-left: 40%;
  margin-top: 20%;
  background-color: rgb(8,31,31);
  padding: 30px;
  width: 240px;
  border: 8px solid #aaa;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;

  #feed_name { margin-bottom: 45px; }
  #create-feed { margin-left: 75px; }
}

#feed_title {
  text-align: center;
  font-family: Tahoma, sans-serif;
}

#show-photo{
  text-align: center;
  margin-bottom: 20px;
  img{
    border: 5px solid green;
    width: 100%;
    height: auto;
  }
}
