.feed_title {
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.show-photo{
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  img{
    border: 3px solid #555;
    width: 90%;
    height: auto;
  }
  .photo-options{
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .photo-metadata{
      margin-bottom: 70px;
      width: 33%;
      float: left;
      text-align:left;

      p{padding-left: 10px;}
    }
    .photo-buttons{
      width: 33%;
      height: 50px;
      float:left;

    }
    .photo-actions{
      width:33%;
      float:left;
      text-align:right;
    }
  }
}

.new_feed label{
  margin-bottom: 0px;
  margin-top: 8px;
}

.newfeedLabel{
  color:#fff;
}

.note{
  font-style: italic;
  font-size: 75%;
  margin: 0px;
}

.radio_button, .radio_label {
    display: inline;
}

input[type="radio"]{
  margin: 0px;
}

.radio_label{
  font-size: 75%;
}

#new-feed-description{
  font-size: 75%;
  margin: 0px;
  padding: 0px;
}

.modal-label{
  padding-top: 7px;
  margin: 0px;
  font-weight: bold;
  color: #444;
}

.thumbnails{
display: block;
padding: 4px;
line-height: 10px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
