.form {
  position: absolute;
  margin-left: 40%;
  margin-top: 20%;
  background-color: rgb(8,31,31);
  padding: 30px;
  width: 240px;
  border: 8px solid #aaa;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;

  #feed_name { margin-bottom: 45px; }
  #create-feed { margin-left: 75px; }
}

.feed_title {
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.show-photo{
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  img{
    border: 3px solid #555;
    width: 90%;
    height: auto;
  }
  .photo-options{
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .photo-metadata{
      margin-bottom: 70px;
      width: 33%;
      float: left;
      text-align:left;

      p{padding-left: 10px;}
    }
    .photo-buttons{
      width: 33%;
      height: 50px;
      float:left;

    }
    .photo-actions{
      width:33%;
      float:left;
      text-align:right;
    }
  }
}

.new_feed label{
  margin-bottom: 0px;
  margin-top: 8px;
}

.note{
  font-style: italic;
  font-size: 75%;
  margin: 0px;
}

.radio_button, .radio_label {
    display: inline;
}

input[type="radio"]{
  margin: 0px;
}

.radio_label{
  font-size: 75%;
}

#new-feed-description{
  font-size: 75%;
}
