/* Camera */
div.icon div.camera_body {
    width: 32px;
    height: 20px;
    background: #333;
    position: absolute;
    top: 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div.icon div.camera_body:after {
    width: 4px;
    height: 2px;
    position: absolute;
    content: '';
    background: #333;
    top: -2px;
    left: 5px;
}

div.icon div.camera_body:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 2px;
    background: #ddd;
    right: 3px;
    top: 3px;
}

div.icon div.camera_lens {
    width: 8px;
    height: 8px;
    border: 3px solid #ddd;
    position: absolute;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 10px;
    left: 27px;
}