.user-show{
  margin: 30px;
  margin-top: 70px;
  padding: 30px;
  background-color: #ddd;
}

ul.nav.nav-tabs {
  border-bottom: 4px solid #fff;
  padding-top: 30px;

  li a{
    color: black;
  }
}

#newfeedbutton{
  float:right;
}


#username{
  font-style: italic;
  font-size: 115%;
  color: #777;
}
#email-form{
  padding: 30px;
}
